@import '../common';
@import '../constants';

.home-background-image-content {
  display: flex;
  flex-direction: column;
  top: 30%;
  color: $white-color;
  align-items: center;
  position: relative;
  h1 {
    font-size: 3rem;
  }
  p {
    margin-top: 1rem;
    color: $secondary-gray-color;
  }
}
