// colors
$primary-color: #0c112a;
$darker-primary-color: #090d20;
$secondary-color: #29b2fe;
$white-color: #ffffff;
$semi-white-color: #f4f4f4;
$gray-color: #738191;
$secondary-gray-color: #738191;

// brackground images
$home: url(/home-background.jpg);

// spacing
$max-content-width: 1140px;
