// colors
$primary-background-color: #18191a;
$primary-color: #242526;
$secondary-color: #393b3c;
$secondary-border-color: #393a3b;
$primary-font-color: #e4e6eb;
$secondary-font-color: #e2e6ea;
$icon-font-color: #a8abaf;
$icon-circle-background-color: #3a3b3c;
$icon-circle-background-hover-color: #4e4f50;
$input-placeholder-color: #b1b2ba;
$hover-color: #4e4f50;

// brackground images
$home: url(/home-background.jpg);

// spacing
$max-full-content-width: 97%;
$max-main-content-width: 50%;
